.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;
}
.index-logo{
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    width: 220px;
    border-radius: 10px;
}
.index-list{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.index-link{
    text-decoration: none;
    color: darkmagenta;
    margin-right: 8px;
    margin-left: 8px;
    font-weight: 700;
}
.main-index-number{
    list-style-type: none;
    display: flex;
    justify-content: start;
}
.footer-index-number{
    list-style-type: none;
    display: flex;
    justify-content: start;
}
.index-div{
    background-color: lightgray;
}
.index-name{
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: cyan;
}
.index-img{
    width: 800px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    flex-direction: column;
}
.index-p{
    font-size: 20px;
}
.h-work{
    display: flex;
    justify-content: center;
    align-content: start;
    font-size: 40px;
    background-color: aqua;
}
.p-work{
    font-size: 25px;
    background-color: yellow;
}
.index-number-2{
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 251, 244);
    padding-top: 15px;
    padding-bottom: 15px;
}
